<ng-template #editSubTaskContent let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit subtask</h4>
    <button
      id="btnClose"
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col">
          <span style="text-align: left">Name subtask</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="task-description"
            [(ngModel)]="inputEditSubtask"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>

      <div class="row" style="margin-top: 15px">
        <div class="col">
          <span style="text-align: left">Sort number</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input
            type="number"
            class="form-control"
            id="task-description"
            [(ngModel)]="inputEditSubTaskSortNumber"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      id="btnClose"
      type="button"
      class="btn btn-outline-dark"
      (click)="d('Cross click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save edit subtask')"
    >
      Save
    </button>
  </div>

  </ng-template>