<div class="card" style="height: 100%; width: 100%">
  <div class="card-header" style="text-align: center">
    {{ taskElement.text }}
  </div>
  <div class="card-body">
    <div class="card-title" style="text-align: center">
      <div>
        <div class="row">
          <div class="col-sm-3">
            <input
              type="checkbox"
              id="{{ taskElement.id }}"
              [(ngModel)]="taskElement.done"
              (click)="changeCheckValueTask(taskElement)"
            />
            <label style="font-size: large" for="{{ taskElement.id }}"></label>
          </div>
          <div class="col-sm-6">
            <p id="category-task">{{ taskElement.category.name }}</p>
          </div>
        </div>

        <div
          *ngIf="taskElement.tags.length > 0"
          class="d-flex justify-content-end"
          style="gap: 12px; margin-top: 10px"
        >
          <div *ngFor="let t of taskElement.tags" id="tags-task-table">
            {{ t.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="d-flex justify-content-center" style="gap: 10px">
        <a (click)="showModal('showModalAddSubTask', taskElement)"
          ><img /><img
            src="https://img.icons8.com/ios-filled/22/26e07f/plus.png"
          />
        </a>
        <a (click)="showModal('showModalEditTask', taskElement)">
          <img src="https://img.icons8.com/ios-filled/22/000000/edit--v1.png" />
        </a>
        <a (click)="deleteTask(taskElement)"
          ><img
            src="https://img.icons8.com/ios-filled/22/fa314a/delete-sign--v1.png"
          />
        </a>
        <div *ngIf="taskElement.subTasks.length > 0 && isCollapsed">
          <a (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">
            <img
              src="https://img.icons8.com/ios-glyphs/25/000000/expand-arrow--v1.png"
            />
          </a>
        </div>
        <div *ngIf="taskElement.subTasks.length > 0 && !isCollapsed">
          <a (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="20"
              height="20"
              viewBox="0 0 172 172"
              style="fill: #000000"
            >
              <g
                fill="none"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal"
              >
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#000000">
                  <path
                    d="M85.8925,44.72c-1.78719,0.02688 -3.49375,0.7525 -4.75687,2.01563l-68.8,68.8c-1.80063,1.72 -2.52625,4.28656 -1.89469,6.70531c0.63156,2.40531 2.51281,4.28656 4.91813,4.91813c2.41875,0.63156 4.98531,-0.09406 6.70531,-1.89469l63.93562,-63.93563l63.93563,63.93563c1.72,1.80062 4.28656,2.52625 6.70531,1.89469c2.40531,-0.63156 4.28656,-2.51281 4.91813,-4.91813c0.63156,-2.41875 -0.09406,-4.98531 -1.89469,-6.70531l-68.8,-68.8c-1.31688,-1.31688 -3.10406,-2.0425 -4.97188,-2.01563z"
                  ></path>
                </g>
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div *ngFor="let subtask of taskElement.subTasks">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-2">
              <input
                type="checkbox"
                id="{{ subtask.id }}"
                [(ngModel)]="subtask.done"
              />
              <label style="font-size: large" for="{{ subtask.id }}"> </label>
            </div>
            <div class="col-sm-6">
              {{ subtask.text }}
            </div>
            <div class="col-sm-4">
              <a (click)="showModal('showModalEditSubTask', subtask)">
                <img
                  src="https://img.icons8.com/ios-filled/22/000000/edit--v1.png"
                />
              </a>
              <a (click)="deleteSubTask(taskElement, subtask)"
                ><img
                  src="https://img.icons8.com/ios-filled/22/fa314a/delete-sign--v1.png"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
