<div
  class="container"
  style="justify-content: center; text-align: center; margin-top: 20px"
>
  <div class="form-group row">
    <div class="form-group col-md-3">
      <button type="button" class="btn btn-success" (click)="exportToExcel()">
        Export to excel
      </button>
    </div>
    <div class="form-group col-md-3">
      <button
        type="button"
        class="btn btn-primary"
        (click)="markAllTaskAsDone()"
      >
        Mark all tasks as done
      </button>
    </div>
    <div class="form-group col-md-3">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="markAllTaskAsNotDone()"
      >
        Mark all tasks as not done
      </button>
    </div>
    <div class="form-group col-md-3">
      <button type="button" class="btn btn-danger" (click)="deleteAllTasks()">
        Delete all tasks
      </button>
    </div>
  </div>
</div>
<br/>