<ng-template id="accept" #editTaskContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit task</h4>
    <button
      id="btnClose"
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col">
          <span style="text-align: left">Task Description</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="task-description"
            [(ngModel)]="inputEditTask"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
      </div>

      <div class="row" style="margin-top: 15px">
        <div class="col">
          <span style="text-align: left">Category</span>
        </div>

        <div class="col">
          <span style="text-align: left" id="task-tags">Sort Number</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <select
            class="form-select"
            name="filterCategory"
            id="filterCategory"
            aria-label="Default select example"
            [(ngModel)]="inputEditTaskCategory"
          >
            <option
              [ngValue]="category.id"
              *ngFor="let category of categoriesService.categories"
            >
              {{ category.name }}
            </option>
          </select>
        </div>
        <div class="col">
          <input
            type="number"
            class="form-control"
            id="task-description"
            [(ngModel)]="inputEditTaskSortNumber"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
      </div>

      <div class="row" style="margin-top: 15px">
        <div class="col">
          <span style="text-align: left">Tags</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="d-flex justify-content-start" style="width: 95%">
              <input
                type="text"
                class="form-control"
                id="category-name"
                name="category-name"
                [(ngModel)]="inputTagEditTask"
              />
            </div>
            <div
              class="d-flex justify-content-start"
              style="width: 5%; margin-left: -20px"
            >
              <button type="submit" (click)="addEditTaskTag(inputTagEditTask)">
                +
              </button>
            </div>
          </div>

          <div id="div-table">
            <table class="table">
              <tbody>
                <tr *ngFor="let tag of inputEditTaskTags; let i = index">
                  <td style="text-align: left">
                    <span>{{ tag.name }}</span>
                  </td>
                  <td style="text-align: right">
                    <a
                      style="padding-left: 10px"
                      id="delete"
                      (click)="deleteEditTaskTag(i)"
                      ><img
                        src="https://img.icons8.com/ios-filled/22/fa314a/delete-sign--v1.png"
                      />
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      id="btnClose"
      type="button"
      class="btn btn-outline-dark"
      (click)="d('Cross click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save edit task')"
    >
      Save
    </button>
  </div>


</ng-template>