.spacer {
    flex: 1;
  }

  .navbar {
    
    align-items: center;
    background-color: #1f8f1f;
    color: white;
    font-weight: 600;
  }

  .navbar #settings-logo {

    margin: 0 10px;
    height: 25px;
  }

  .navbar #add-logo {
    margin: 0 8px;
    height: 25px;
  }

  .navbar #settings-logo:hover,
  .navbar #add-logo:hover {
    opacity: 0.8;
  }
