<ng-template #content1 let-c="close" let-d="dismiss" >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Task</h4>
    <button
      id="btnClose"
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button> 
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <span style="text-align: left">Task Description</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          id="task-description"
          [(ngModel)]="inputTaskText"
          required
        />
      </div>
    </div>

    <div class="row" style="margin-top: 15px">
      <div class="col">
        <span style="text-align: left">Category</span>
      </div>

      <div class="col">
        <span style="text-align: left" id="task-tags">Tags</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <select
          class="form-select"
          name="filterCategory"
          id="filterCategory"
          aria-label="Default select example"
          [(ngModel)]="inputTaskCategory"
        >
          <option selected disabled></option>
          <option
            [ngValue]="category"
            *ngFor="let category of categoriesService.categories"
          >
            {{ category.name }}
          </option>
        </select>
      </div>
      <div class="col">
        <input type="text" class="form-control" [(ngModel)]="inputTaskTags" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      id="btnClose"
      type="button"
      class="btn btn-outline-dark"
      (click)="d('Cross click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click task')"
    >
      Save
    </button>
  </div>
</ng-template>
