<div class="container" style="margin-top: 10px">
  <div>
    <div class="d-flex justify-content-start" style="width: 50%; float: left">
      <h6>
        To do:
        {{ getToDo() }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Done:
        {{ getDone() }}
      </h6>
    </div>
    <div class="d-flex justify-content-end" style="width: 50%; float: right">
      <button id="btnClear" (click)="clearFilters()">Clear filters</button>
    </div>
  </div>
  <hr style="color: grey; background-color: grey; width: 100%; height: 3px" />

  <!-- create cards ngfor  -->
  <div *ngIf="tasksService.tasks">
    <div class="row" style="gap: 10px; justify-content: center">
      <div
        class="col-sm-3"
        *ngFor="
          let taskElement of tasksService.tasks
            | filterArray
              : commonService.searchByText
              : commonService.tagSelect
              : commonService.categorySelected
              : commonService.checkShow;
          let i = index
        "
      >
        <app-individualCardTask
          [taskElement]="taskElement"
        ></app-individualCardTask>
      </div>
    </div>
  </div>
</div>
