<div class="container" style="margin-top: 30px">
  <div class="form-group row">
    <div class="form-group col-md-3">
      <select
        class="form-select"
        name="filterCategory"
        id="filterCategory"
        [(ngModel)]="commonService.categorySelected"
      >
        <option value="" selected>Filter by Category</option>
        <option
          [ngValue]="category.name"
          *ngFor="let category of categoriesService.categories"
        >
          {{ category.name }}
        </option>
      </select>
    </div>

    <div class="form-group col-md-3">
      <select
        class="form-select"
        name="filterTags"
        id="filterTags"
        [(ngModel)]="commonService.tagSelect"
      >
        <option value="" selected>Filter by Tag</option>
        <option [ngValue]="tag.name" *ngFor="let tag of tagsService.tags">
          {{ tag.name }}
        </option>
      </select>
    </div>
    <div class="input-group-responsive col-md-6">
      <div class="form-group col-md-12">
        <input
          type="text"
          name="search"
          id="search"
          placeholder="Search by text"
          class="form-control"
          [(ngModel)]="commonService.searchByText"
        />
      </div>
      <div class="form-group col-md-12" style="margin-top: 5px" id="ch">
        <div>
          <input
            type="checkbox"
            id="check1"
            [(ngModel)]="commonService.checkShow"
            (click)="changeValueDoneTasks()"
          />
          <label style="font-size: large" id="label1" for="check1"
            >Show done tasks</label
          >
        </div>
      </div>
    </div>
  </div>
</div>