.input-group-responsive {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"] + label:before {
    cursor: pointer;
  }
  
  label:before {
    content: "";
    border: 1px solid grey;
    text-shadow: 4px -2px 3px gray;
    border-radius: 25 px;
    text-shadow: 4px -2px 3px gray;
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
  }
  
  label:hover::before {
    border: 1px solid black;
  }
  
  input[type="checkbox"]:checked + label:before {
    content: "✓";
    color: white;
    font-size: 15px;
    background: grey;
  }
  label:before {
    display: grid;
    place-content: center;
  }
  
  label {
    display: grid;
    place-content: center;
    grid-template-columns: 20px 1fr;
    gap: 5px;
  }
  
  input[type="checkbox"]:checked + label:hover:before {
    background: black;
  }