<ng-template id="accept" #tagsContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Tags</h4>
      <button
        id="btnClose"
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div id="div-table" style="margin-top: 10px">
        <table class="table">
          <tbody>
            <tr *ngFor="let tag of tagsService.tags; let i = index">
              <td style="text-align: left">
                <span>{{ tag.name }}</span>
              </td>
              <td style="text-align: right">
                <a style="padding-left: 10px" id="delete" (click)="deleteTag(i)"
                  ><img
                    src="https://img.icons8.com/ios-filled/22/fa314a/delete-sign--v1.png"
                  />
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br /> 
</ng-template>
