<div>
  <app-toolbar></app-toolbar>
  <app-addTaskModal #addTaskModal></app-addTaskModal>
  <app-categoriesModal #categoriesModal></app-categoriesModal>
  <app-editCategoryModal #editCategoryModal></app-editCategoryModal>
  <app-tagsModal #tagsModal></app-tagsModal>
  <app-editTaskModal #editTaskModal></app-editTaskModal>
  <app-addSubtaskModal #addSubTaskModal></app-addSubtaskModal>
  <app-editSubTaskModal #editSubTaskModal></app-editSubTaskModal>
  <app-filtersTable></app-filtersTable>
  <div *ngIf="commonService.typeTableOrCards">
    <app-task-table></app-task-table>
  </div>
  <div *ngIf="!commonService.typeTableOrCards">
    <app-task-cards></app-task-cards>
  </div>
  <app-optionalFunctions></app-optionalFunctions>
</div>