<div class="container" style="margin-top: 10px">
  <div>
    <div class="d-flex justify-content-start" style="width: 50%; float: left">
      <h6>
        To do:
        {{ getToDo() }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Done:
        {{ getDone() }}
      </h6>
    </div>
    <div class="d-flex justify-content-end" style="width: 50%; float: right">
      <button id="btnClear" (click)="clearFilters()">Clear filters</button>
    </div>
  </div>
  <hr style="color: grey; background-color: grey; width: 100%; height: 3px" />

  <table class="table">
    <tbody *ngIf="tasksService.tasks">
      <ng-container
        *ngFor="
          let elementTask of tasksService.tasks
            | filterArray
              : commonService.searchByText
              : commonService.tagSelect
              : commonService.categorySelected
              : commonService.checkShow;
          let i = index
        "
      >
        <tr>
          <td style="width: 1px">
            <input
              type="checkbox"
              id="{{ elementTask.id }}"
              [(ngModel)]="elementTask.done"
              (click)="changeCheckValueTask(elementTask)"
            />
            <label style="font-size: large" for="{{ elementTask.id }}"></label>
          </td>
          <td style="text-align: left">
            <span>{{ elementTask.text }}</span>
            <p id="category-task">{{ elementTask.category.name }}</p>
          </td>

          <td>
            <div class="row">
              <div class="d-flex justify-content-end">
                <a (click)="showModal('showModalAddSubTask', elementTask)"
                  ><img /><img
                    src="https://img.icons8.com/ios-filled/22/26e07f/plus.png"
                  />
                </a>
                <a (click)="showModal('showModalEditTask', elementTask)">
                  <img
                    src="https://img.icons8.com/ios-filled/22/000000/edit--v1.png"
                  />
                </a>
                <a (click)="deleteTask(i)"
                  ><img
                    src="https://img.icons8.com/ios-filled/22/fa314a/delete-sign--v1.png"
                  />
                </a>
              </div>
            </div>
            <div
              *ngIf="elementTask.tags.length > 0"
              class="d-flex justify-content-end"
              style="gap: 12px; margin-top: 10px"
            >
              <div *ngFor="let t of elementTask.tags" id="tags-task-table">
                {{ t.name }}
              </div>
            </div>
          </td>
        </tr>

        <ng-container *ngIf="elementTask.subTasks.length > 0">
          <tr
            *ngFor="
              let subtask of elementTask.subTasks | filterSubtasks;
              let j = index
            "
          >
            <td></td>
            <td>
              <div class="row">
                <div class="col d-flex">
                  <input
                    type="checkbox"
                    id="{{ subtask.id }}"
                    [(ngModel)]="subtask.done"
                    (click)="changeCheckValueSubTask(subtask, elementTask.id)"
                  />
                  <label style="font-size: large" for="{{ subtask.id }}">
                  </label>
                  <div class="col">
                    {{ subtask.text }}
                  </div>
                </div>
              </div>
            </td>

            <td>
              <div class="row">
                <div class="d-flex justify-content-end">
                  <a (click)="showModal('showModalEditSubTask', subtask)">
                    <img
                      src="https://img.icons8.com/ios-filled/22/000000/edit--v1.png"
                    />
                  </a>
                  <a (click)="deleteSubTask(i, j)"
                    ><img
                      src="https://img.icons8.com/ios-filled/22/fa314a/delete-sign--v1.png"
                    />
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
    <tbody *ngIf="!tasksService.tasks">
      <tr>
        <td>
          <div style="width: 100%">
            <p
              style="
                justify-content: center;
                text-align: center;
                font-size: 20px;
                letter-spacing: 1px;
              "
            >
              <b>Task table is empty</b>
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
