<ng-template #categoriesContent let-c="close" let-d="dismiss"> 
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Categories</h4>
    <button
      id="btnClose"
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col">
          <span style="text-align: left">New category</span>
        </div>
      </div>

      <div class="row">
        <div class="d-flex justify-content-start" style="width: 95%">
          <input
            type="text"
            class="form-control"
            id="category-name"
            name="category-name"
            [(ngModel)]="inputCategoryName"
          />
        </div>
        <div
          class="d-flex justify-content-start"
          style="width: 5%; margin-left: -20px"
        >
          <button type="submit" (click)="postCategory()">+</button>
        </div>
      </div>
    </form>

    <div id="div-table" style="margin-top: 30px">
      <table class="table">
        <tbody>
          <tr *ngFor="let cat of categoriesService.categories; let i = index">
            <td style="text-align: left">
              <span>{{ cat.name }}</span>
            </td>
            <td style="text-align: right">
              <a
                style="padding-left: 10px"
                (click)="showModal('showModalEditCategory', cat)"
                ><img
                  src="https://img.icons8.com/ios-filled/22/000000/edit--v1.png"
                />
              </a>
              <a
                style="padding-left: 10px"
                id="delete"
                (click)="deleteCategory(i)"
                ><img
                  src="https://img.icons8.com/ios-filled/22/fa314a/delete-sign--v1.png"
                />
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br />
</ng-template>
