/* You can add global styles to this file, and also import other style files */


@media only screen and (max-width: 600px) {
  .input-group-responsive label{
    margin-top: 15px;
  }
    
    
    #search, select{
      margin-top: 10px;
    }
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a, button{
  cursor: pointer;
}

input, select{
  border-radius: 0px!important;
}